 <div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
        </div>
        <div id="content" class="col-xs-9">
          <!--  main content -->
          <h1>Welcome to BUI TUAN PAGE</h1>
<p>Insert bootstrap qua la don gian</p>
          <button class="btn btn-primary">Click here</button>
        </div>
      </div>
    </div>
